@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", system-ui;
    

}
body{
    background-color: var(--primary-color);
    color: var(--light-color);
}
:root{
   
    --primary-color: #000000;
    --secoundry-color:#562DAE;
    --secLight-color:#D7CBE7;
    --light-color:white;
    

}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--light-color);

}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    height: 50vh;

    background-color: var(--secoundry-color);
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.reg{
    height: 55vh!important;
}
.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  
    width: 60%;
}
.form-control{
    background-color:#f3f3f1;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    outline: none;
   
}
label{
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.btn{
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--secLight-color);
    font-weight: 600;
    border: none;
    border-radius: 0 10px;


}
#aBtn{
    background-color: var(--secLight-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 10px;
}
.form-control:focus{
    
    outline: 2px solid  var(--primary-color)

    

}


.header .nav_1{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: var(--primary-color);
}
.header li{
    float: right;
    display:inline;
}
.nav_1 h2{
    float:left;
    display:inline;
    color:var(--secoundry-color);
    padding: 10px 13px;
    /* margin:7px 1px; */
    margin-left: 30px !important;
    font-size: 2rem;
}
li a{
    display:inline-block;
    color: var(--light-color);
    text-align:center;
    text-decoration: none;
    padding: 14px 16px;
    margin:10px 1px;
    border-radius: 3px;
}
.nav-btn{
    display: inline-block;
    text-align: center;
    background-color: var(--secoundry-color);
    color: var(--light-color);
    padding: 14px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:10px 5px;
}
.nav-log{
    border: 1px solid var(--light-color);
    margin:10px 5px;
}
.top-background{
    background-image: url("../images/topBackground1.png");
    background-size: cover;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */

}
.top-background h1{
    font-size: 5rem;
    color: var(--light-color);
    /* margin-top: 10px; */
    padding: 60px 30px;
    margin-left: 30px;
}
.bookbtn{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 40px; 

}
.bookbtn a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--secoundry-color);
    color: var(--light-color);
    padding: 14px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:10px 5px;
}
.packages-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.packages-list ul{
    display: flex;
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;

}
.packages-list li{
    margin:5px 10px !important;

}
.card{
    height: 70vh;
    width: 325px;
    background-color: var(--secLight-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #one{
    background-image: url("../images/birthday.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#two{
    background-image: url("../images/batch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#three{
    background-image: url("../images/graduation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

